# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Market Agents using FinRL/*
!/Market Agents using FinRL/task/
/Market Agents using FinRL/task/*
!/Market Agents using FinRL/task/main.py
!/Market Agents using FinRL/task/results
!/Market Agents using FinRL/task/policy_EIIE.pt
